!.vscode/*.code-snippets
!.vscode/launch.json
!.yarn/releases
# deps
# dev
# dist/
# env
# logs
# misc
# prod (GitHub Pages用にdistはpush対象のためコメントアウト)
*.log
.DS_Store
.dev.vars
.env
.env.production
.idea/shelf
.idea/usage.statistics.xml
.idea/workspace.xml
.vscode/*
.wrangler
.yarn/
lerna-debug.log*
logs/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
